<h1>Edit: <%= @event.title %></h1>

<%= form_for @event do |f| %>
<div class="container">
  <%= render '/shared/form_errors' %>
  <fieldset>
    <ul>
      <li class="control-group">
        <%= f.label :title, "Title" %>
        <div class="controls">
          <%= f.text_field :title %>
        </div>
      </li>
      <li class="control-group">
        <%= f.label :amount, "Amount" %>
        <div class="controls">
          <%= f.text_field :amount %>
        </div>
      </li>
      <li class="control-group">
        <%= f.label :locale, "Language" %>
        <div class="controls">
          <%= f.select :locale, locales_and_names %>
        </div>
      </li>
    </ul>
  </fieldset>

  <div class="col-md-7">
  <h2>Participants</h2>

  <p>
    List the participants to this event, including you. Make sure that emails are
    valid since these are the addresses where the results will be sent to.
  </p>

  <fieldset id="event-participants">
    <ul>
      <%= f.fields_for :participants do |participant| %>
        <%= render 'participant_fields', f: participant %>
      <% end %>
    </ul>
    <%= link_to_add_association 'Add participant', f, :participants,
      'data-association-insertion-node' => "#event-participants ul",
      'data-association-insertion-method' => "append",
      :wrap_object => Proc.new {|participant| participant.build_event; participant }
    %>
  </fieldset>
  </div>

  <div class="col-md-5">
  <h2>Constraints</h2>

  <p>
    Adding a constraint between Alice and Bob will make sure that Alice will not
    have to make a gift to Bob, and Bob does not have to make a gift to Alice.
  </p>
  <p>
    In case there are too many constraints and it is impossible to find a
    solution, you will be informed and no mail will be sent.
  </p>

  <fieldset id="event-constraints">
    <ul>
      <%= f.fields_for :constraints do |constraint| %>
        <%= render 'constraint_fields', f: constraint %>
      <% end %>
    </ul>
    <%= link_to_add_association 'Add constraint', f, :constraints,
      'data-association-insertion-node' => "#event-constraints ul",
      'data-association-insertion-method' => "append",
      :wrap_object => Proc.new {|constraint| constraint.build_event; constraint }
    %>
  </fieldset>
  </div>

</div>
<%= f.submit %>
<% end %>
