
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Create an event</h1>

    <%= form_for(@event) do |f| %>
      <%= render '/shared/form_errors' %>

      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
      <p class="help-block">
      Find a name that is not too generic so that participants can know which
      event it is.
      </p>

      <div class="form-group">
        <%= f.label :amount %>
        <%= f.text_field :amount, class: 'form-control' %>
      </div>
      <p class="help-block">
      This is the suggested amount people are encouraged to spend on a gift.
      </p>

      <div class="form-group">
        <%= f.label :locale, "Language" %>
        <%= f.select :locale, locales_and_names, class: 'form-control' %>
      </div>
      <p class="help-block">
      Participants will receive an email in this language.
      </p>

      <%= f.submit "Create an event", class: "btn btn-primary" %>
    <% end %>

    <div class="event-create-preview">
      <h2>Preview</h2>

      <h3 class="preview-en">
        Subject: <span class="preview-title"></span> - gift attribution for François
      </h3>

      <h3 class="preview-fr">
        Sujet: <span class="preview-title"></span> - attribution du cadeau pour François
      </h3>

      <h3>Message</h3>

      <div class="preview-en">
        <p>
          Hello François,
        </p>

        <p>
        You are taking part in "<span class="preview-title"></span>".
        </p>

        <p>
        This is a "Secret Santa" event, where participants are asked to make a gift to
        another random person. You make a gift to someone and you get a gift from
        someone else.
        </p>

        <p>
        You should make a gift to:
        </p>

        <p>
        <b>Julie</b>
        </p>

        <div class="preview-amount-div">
        The suggested amount for the gift is: <b class="preview-amount"></b>.
        </div>
      </div>

      <div class="preview-fr">
        <p>
          Bonjour François,
        </p>

        <p>
        Vous participez à "<span class="preview-title"></span>".
        </p>

        <p>
        C'est un "Secret Santa", où on demande aux participants de faire un cadeau à une
        autre personne au hasard. Chacun fait un cadeau à quelqu'un, et reçoit un cadeau
        de quelqu'un d'autre.
        </p>

        <p>
        Vous devez faire un cadeau à:
        </p>

        <p>
        <b>Julie</b>
        </p>

        <div class="preview-amount-div">
        Le montant suggéré est de: <b class="preview-amount"></b>.
        </div>
      </div>

    </div>

  </div>
</div>
