
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Create an event</h1>

    <%= form_for(@event) do |f| %>
      <%= render '/shared/form_errors' %>

      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
      <p class="help-block">
      Find a name that is not too generic so that participants can know which
      event it is.
      </p>

      <div class="form-group">
        <%= f.label :amount %>
        <%= f.text_field :amount, class: 'form-control' %>
      </div>
      <p class="help-block">
      This is the suggested amount people are encouraged to spend on a gift.
      </p>

      <div class="form-group">
        <%= f.label :locale, "Language" %>
        <%= f.select :locale, locales_and_names, class: 'form-control' %>
      </div>
      <p class="help-block">
      Participants will receive an email in this language.
      </p>

      <%= f.submit "Create an event", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
