<p>
  Bonjour <%= @draw.giver.name %>,
</p>

<p>
Vous participez à "<%= @draw.event.title %>".
</p>

<p>
C'est un "Secret Santa", où on demande aux participants de faire un cadeau à une
autre personne au hasard. Chacun fait un cadeau à quelqu'un, et reçoit un cadeau
de quelqu'un d'autre.
</p>

<p>
Vous devez faire un cadeau à:
</p>

<p>
<b>
<%= @draw.receiver.name %>
</b>
</p>

<% if @draw.event.amount? and not @draw.event.amount.empty? %>
Le montant suggéré est de: <b><%= @draw.event.amount %></b>.
<% end %>

<p>
Cet événement a été créé avec Secret Santa Creator. Pour plus d'information, allez sur le site:
</p>

<p>
<%= link_to root_url, root_url %>
</p>
