<p>
  Hello <%= @draw.giver.name %>,
</p>

<p>
You are taking part in "<%= @draw.event.title %>".
</p>

<p>
You should make a gift to:
</p>

<p>
<b>
<%= @draw.receiver.name %>
</b>
</p>

<% if @draw.event.amount? and not @draw.event.amount.empty? %>
The suggested amount for the gift is: <b><%= @draw.event.amount %></b>.
<% end %>

<p>
This event has been created on Secret Santa Creator. For more information, visit:
</p>

<p>
<%= link_to root_url, root_url %>
</p>
